# Ficheros de estado de Terraform
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.tfstate.lock.info
# Directorio .terraform 
.terraform/
*.tfvars
/main.tf
/variables.tf
# Terraform CLI config
.terraformrc
.terraform.lock.hcl
terraform.rc
# Directorio de configuración
module_store/
# Ficheros de terraform plan 
*.tfout
# Misc
.to-do.md